.menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
	width: 100%;
	/*position: absolute;*/
	font-size: 25px;
	/*border: 5px solid black;*/
	margin: 0;
    padding: 0;
}

.menu li {
    display: block;
    flex: 1 1 auto;
    list-style-type: none;
    background: #4E9EED;
	font-size: 25px;
	padding: 5px;
}

.menu li:hover{
	background: #26C5FD;
	color: white; 
}

.menu li:hover a{
	color: white;
    border-color: #26C5FD;
}

.menu li a{
	display: flex;
    justify-content: center;
	color: grey; 
}

.menu li .is-current{
	border: 5px solid #4E9EED;
	color: black;
	font-size: 30px;
}

@media (max-width: 376px) {
	.menu ul, .menu li {
		display: block; 
		margin-left: 0;
	}
	
} 