/* Forces elements within the container to be
centered inside a specified width of the viewport*/
.layout_container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 940px;
}

/* Make the background image take up the entire width of the viewport, always*/
#header_bg{
	position: relative;
	background-image:url(../images/header_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	padding-top: 500px;
}
/* A grey, transparent overlay applied to the background image
for better readability on text*/
#header_bg::before{ /* The ::before selector indicates that the following
    content is going to be added _before_ the image */
    content: ""; /* The ::before selector requires content
    display: block!important; /* !important prioritizes the given property */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.40);
}