/* Forces elements within the container to be
centered inside a specified width of the viewport*/
.layout-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 1440px;
}

.dashed{
    text-decoration: line-through;
}